*{
    box-sizing: border-box;
    margin: 0;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

header{
    height: 42px;
    width: 100vw;
    background: #4060B8;
    position: sticky;
    display: flex;
    top:0px;
}
#content{
    width: 100vw;
    min-height: calc(100vh - 42px);
    height: 100%;
    padding: 15px 10vw 0 10vw;
    display: flex;
    justify-content: space-between;
    background: #E9EBEE;
}
#leftBar{
    width: 192px;
    /* border: 1px solid darkblue; */
    /* position: fixed; */
    /* flex: 0.9; */
}
#timeline{
    /* flex: 2.5; */
    width: 550px;
}
#rightBar{
    flex: 1.5;
    /* border: 1px solid gray; */
}
#leftBar,
#rightBar,
#timeline{
    border-radius: 5px;
    margin-right: 10px;
}
/* #timeline div{
    width: 100%; 
    height: 500px;
    background: #FFFFFF;
    border-radius: 2.5px;
    margin-bottom: 15px;
    box-shadow: 0px 0px 1px 1px rgba(214, 214, 215, 0.6);
} */

.section{
    width: 100%;
    margin-bottom: 8px;
}

#sectionTitle{
    color: rgb(100, 100, 100);
    font-weight: 600;
}

.section .item{
    padding: 5px;
    font-size: 90%;
    display: flex;
    align-items: center;
    cursor: pointer;
    box-shadow: 0px 0px 1px 1px rgba(214, 214, 215, 0.0);
    transition: all 0.2s ease;
}
.section .item.selected,
.section .item:hover{
    box-shadow: 0px 0px 1px 1px rgba(214, 214, 215, 0.6);
    background: rgba(243, 245, 247, 0.6);
    border-radius: 2px;
}

#itemSelectedFont{
    font-weight: 600;
}

#icons-leftBar{
    width: 20px;
    height: 20px;
    margin-right: 6px;
}

.section .item .profilePic{
    border-radius: 50px;
    width: 22px; 
    height: 22px;
    margin-right: 6px;
}

.logoHeader{
    margin: 8px 8px 10px 60px;
    height: 25px;
    width: 25px;
    border-radius: 1.5px;
    cursor: pointer;
}

.sectionSearch{
    width: 35%;
    display: flex;
}

.sectionSearch .searchBar{
    height: 25px;
    background: #FFFFFF;
    border: 0px;
    border-radius: 2px 0px 0px 2px;
    margin: 8px 0px 8px 1.5px;
    padding-left: 5px;
    cursor: text;
}

.sectionSearch .searchBtn{
    height: 25px;
    background: #EBEDF0;
    border: 0px;
    border-radius: 0px 2px 2px 0px;
    margin: 8px 1.5px 8px 0px;
}

#searchIcon{
    width: 20px;
    height: 20px;
}

#searchBtn{
    flex: 0.1;
}

#searchBar{
    flex: 0.9; 
}

#headerNavigation{
    display: flex;
    width: 500px;
    height: 25px;
    position: relative;
    margin: 8px 5%;
    align-items: center;
}

#profilePicHeader{
    border-radius: 50px;
    width: 30px; 
    height: 30px;
    margin-right: 5px;
}

.itemHeader {
    width: 100%;
    height: 25px;
    /* display: flex; */
    text-align: center;
    font-size: 15px;
    align-items: center;
    color: #FFFFFF;
    cursor: pointer;
    border-right: 2px solid rgba(64, 69, 184, 0.60);
}

#itemPerfil{
    display: flex;
}

.itemHeader:hover{
    border-radius: 2px;
    background: #3b5da0;
}

.itemHeaderDos{
    display: flex;
    width: 100%;
    height: 25px;
    cursor: pointer;
    border-right: 2px solid rgba(64, 69, 184, 0.60);
}

.itemHeaderDos .item{
    opacity: 0.8;
    flex: 0.67;
    width: 26px;
    height: 26px;
    margin: 0px 5px;
    cursor: pointer;
}

.itemHeaderDos .item:hover{
    opacity: 1.0;
}

#itemHeaderDosUno{
    flex:0.75;
}

#itemHeaderDosDos{
    flex:0.25;
}

#post{
    width: 100%; 
    height: 650px;
    background: #FFFFFF;
    border-radius: 2.5px;
    margin-bottom: 15px;
    box-shadow: 0px 0px 1px 1px rgba(214, 214, 215, 0.6);
}

#postHeader{
    width: 100%;
    height: 60px;
    background: #FFFFFF;
    border-radius: 3.5px;
    display: flex;
}

#postProfilePic{
    width: 60px;
    height: 60px;
    padding: 10px;
    cursor: pointer;
}

#postInfo{
    width: 100%;
    height: 60px;
    padding: 10px 0px;
    display: block;
}

#postUser{
    display: inline;
    color: #4060B8;
    font-weight: bold;
    cursor: pointer;
}

#postUser:hover{
    text-decoration: underline;
}

#postSecondaryInfo{
    width: 100%;
}
#postDate{
    display: inline;
    color: rgb(100, 100, 100);
    font-weight: lighter;
    cursor: pointer;
}

#postDate:hover{
    text-decoration: underline;
}

#postInfoPrivacy{
    width: 13px;
    height: 13px;
    margin-left: 1.5px;
}

#postMultimedia{
    width: 100%;
    height: 450px;
}

#reactionsInfo{
    display: flex;
    margin: 0px 12px;
    border-bottom: 1px solid rgba(100, 100, 100, 0.5);
}

#counterComments{
    width: 100%;
    text-align: right;
    color: rgb(100, 100, 100);
    font-weight: lighter;
    margin: 8px 0px;
    cursor: pointer;
}

.reactionsBtns{
    display: flex;
    margin: 5px 12px;
    /* border: 1px solid darkorange; */
}

.reactionsBtns .action{
    display: flex;
    flex: 0.67;
    padding: 5px 15px;
    border-radius: 2px;
    align-items: center;
    /* border: 1px solid darkred; */
}

#iconAction{
    width: 20px;
    height: 20px;
    margin: 0px 8px 0px 18px;
    /* border: 1px solid darkgreen; */
}

.reactionsBtns .action .actionTxt{
    cursor: pointer;
    color: rgb(85, 85, 85);
    text-align: center;
    /* border: 1px solid darkmagenta; */
}

.reactionsBtns .action:hover{
    background: rgba(100, 100, 100, 0.1);
}

.sectionComments{
    display: flex;
    width: 100%;
    height: 50px;
    border-top: 1px solid rgba(85, 85, 85, 0.5);
    padding: 5px 12px;
}
#fieldComment {
    /* flex: 0.9; */
    width: 100%;
    border-radius: 50px;
    margin-top: 5px;
    margin-right: 5px;
    background: rgba(100, 100, 100, 0.1);
    border: 1px solid rgba(85, 85, 85, 0.4);
    color: rgba(85, 85, 85, 0.9);
    padding: 5px 12px;
}
#picProfile{
    /* flex: 0.1; */
    border-radius: 50px;
    width: 35px; 
    height: 35px;
    margin-top: 5px;
    margin-right: 8px;
}

.sectionCreatePost{
    width: 100%;
    height: 150px;
    background: #FFFFFF;
    box-shadow: 0px 0px 1px 1px rgba(214, 214, 215, 0.6);
    border-radius: 3.5px;
    margin-bottom: 12px;
}

#createPostTitle{
    width: 100%;
    height: 35px;
    padding: 8px;
    color: rgba(0, 0, 0, 0.9);
    font-weight: 600;
    background: #F5F6F7;
    font-size: 14px;
    border-radius: 3.5px;
    border-bottom: 1px solid rgba(85, 85, 85, 0.2);
}

.sectionCreatePost .createPostContent{
    width: 100%;
    height: 70px;
    background: #FFFFFF;
    display: flex;
    align-items: center;
}

.sectionCreatePost .createPostContent .profilePic{
    border-radius: 50px;
    width: 50px; 
    height: 50px;
    margin: 0px 6px 0px 12px;
}

.sectionCreatePost .createPostContent .contentText{
    width: 100%;
    height: 100%;
    color: rgba(85, 85, 85, 0.9);
    border: 0px;
    padding: 5px;
    font-size: 15px;
}

.sectionCreatePost .createOptions{
    display: flex;
    height: 45px;
    margin: 0px 12px;
    align-items: center; 
    border-top: 1px solid rgba(85, 85, 85, 0.4);
    color: rgba(0, 0, 0, 0.9);
    background: #FFFFFF;
    font-size: 14px;
}

.sectionCreatePost .createOptions .OptionItem{
    display: flex;
    border-radius: 50px;
    margin: 3px;
    padding: 5px 15px;
    background: rgba(100, 100, 100, 0.05);
    align-items: center;
    text-align: center;
}

#iconOption{
    width: 22x;
    height: 22px;
    margin-right: 6px;
}

.sectionCreatePost .createOptions .OptionItem:hover{
    background: rgba(100, 100, 100, 0.12);
}

.sectionStories{
    width: 100%;
    height: 250px;
    background: #FFFFFF;
    border-radius: 5px;
    box-shadow: 0px 0px 1px 1px rgba(214, 214, 215, 0.6);
    margin-bottom: 13px;
}

.sectionStories .storiesHeader{
    width: 100%;
    height: 40px;
    display: flex;
    color: rgba(0, 0, 0, 0.8);
    font-size: 14px;
    align-items: center;
}

#storiesTitle{
    flex:0.65;
    font-weight: 600;
    padding-left: 12px;
}
#storiesArchive{
    flex:0.15;
    text-align: right;
    margin-right: 3px;
    color: #4060B8;
    cursor: pointer;
}
#storiesSettings{
    flex:0.15;
    text-align: left;
    margin-left: 3px;
    color: #4060B8;
    cursor: pointer;
}
#storiesArchive:hover{
    text-decoration: underline;
}
#storiesSettings:hover{
    text-decoration: underline;
}

.sectionStories .storieItem{
    width: 100%;
    margin-bottom: 5px;
    height: calc((100% - 50px) / 3);
    border-radius: 0px 0px 5px 5px;
    display: flex;
    align-items: center;
    cursor: pointer;
}

#myStoriePic{
    border-radius: 50px;
    width: 55px;
    height: 55px;
    margin-left: 12px;
    background: #EDEEEF;
    border: 1px solid rgba(0, 0, 0, 0.2);
}

#storiePic{
    border-radius: 50px;
    width: 55px;
    height: 55px;
    padding: 2px;
    margin-left: 12px;
    border: 2px solid #4060B8;
}

.sectionStories .storieItem .storieInfo{
    width: calc(100% - 67px);
    height: 100%;
    padding: 0px 5px;
    /* border: 1px solid tomato; */
}

.storieInfo .storieName{
    width: 100%;
    height: 25px;
    color: #4060B8;
    font-weight: 600;
    /* border: 1px solid turquoise; */
}

.storieInfo .storieDescription{
    color: rgb(100, 100, 100);
    font-size: 14px;
    /* border: 1px solid violet; */
}

.storieInfo .storieName:hover{
    text-decoration: underline;
}

.sectionSuggestedGroups{
    width: 100%;
    height: 620px;
    background: #FFFFFF;
    border-radius: 5px;
    box-shadow: 0px 0px 1px 1px rgba(214, 214, 215, 0.6);
}

.sectionSuggestedGroups .suggestedGroupsHeader{
    display: flex;
    height: 35px;
    padding-left: 12px;
    align-items: center;
    /* border: 1px solid darkblue; */
}

#suggestedGroups{
    flex: 0.8;
    font-weight: 600;
    color: rgba(0, 0, 0, 0.8);
    /* border: 1px solid darkgreen; */
}
#seeAllGroups{
    flex: 0.2;
    color: #4060B8;
    /* border: 1px solid darkgoldenrod; */
}
#seeAllGroups:hover{
    text-decoration: underline;
}

.sectionSuggestedGroups .boxInfoGroup{
    height: 170px;
    border-radius: 3px;
    margin: 14px 12px;
    box-shadow: 0px 0px 1px 1px rgba(214, 214, 215, 0.9);
    /* border: 1px solid yellowgreen; */
}

#posterGroup{
    width: 100%;
    height: 70%;
    border-radius: 3px 3px 0px 0px;
    /* border: 1px solid darkmagenta; */
}

.boxInfoGroup .infoGroup{
    width: 100%;
    height: 30%;
    border-radius: 0px 0px 3px 3px;
    display: flex;
    align-items: center;
    padding: 5px;
    /* border: 1px solid yellow; */
}

#infoGroupTxt{
    flex: 0.75;
    /* border: 1px solid turquoise; */
}
#joinGroupBtn{
    flex: 0.25;
    /* border: 1px solid tomato; */
}
#joinBtn{
    width: 100%;
    height: 25px;
    border-radius: 2px;
    border: 0px;
    box-shadow: 0px 0px 1px 1px rgba(214, 214, 215, 0.9);
    color: rgb(100, 100, 100);
    font-weight: 600;
}
#nameGroup{
    color: #4060B8;
    font-weight: 600;
}
#numMembersGroup{
    color: rgb(100, 100, 100);
    font-size: 14px;
}